{% extends 'mail.html.twig' %}

{% block body %}
    <p>Sign up confirm link:</p>

    {% set url = path('auth.signup.confirm', {'token': token}) %}

    <p><a href="{{ url }}">{{ url }}</a></p>
{% endblock %}
